
@{
    ViewBag.Title = "Index";
}

@using Noviembre.Core.Entidades
@model List<Ciudadano>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ciudadanos</h1>
            </div>
        </div>

        <h2>Index</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <a href="@Url.Action("Registro","Ciudadano",new {id = 0})" class="btn btn-primary">Agregar nuevo</a>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido_Paterno</th>
                                        <th>Apellido_Materno</th>
                                        <th>Telefono</th>
                                        <th>Direccion</th>
                                        <th>Email</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Ciudadano e in Model)
                                    {
                                        <tr>
                                            <td>
                                                @e.Nombre
                                            </td>
                                            <td>
                                                @e.ApellidoPaterno
                                            </td>
                                            <td>
                                                @e.ApellidoMaterno
                                            </td>
                                            <td>
                                                @e.Telefono
                                            </td>
                                            <td>
                                                @e.Direccion
                                            </td>
                                            <td>
                                                @e.Email
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Registro","Ciudadano",new {id = e.Id})" class="btn btn-primary">Editar</a>
                                                <a class=" btn btn-danger">Eliminar</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

