@using Noviembre.Core.Entidades
@model Ciudadano
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de ciudadano</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form action="@Url.Action("Guardar","Ciudadano")">
                            <input type="hidden" class="form-control" name="id" value="@Model.Id" />

                            <div class="form-group">
                                <label>Nombre del ciudadano:</label>
                                <input class="form-control" name="nombre" value="@if (Model.Id !=0) { @Model.Nombre }">
                                <label>Apellido Paterno:</label>
                                <input class="form-control" name="apellidoPaterno" value="@if (Model.Id !=0) { @Model.ApellidoPaterno }">
                                <label>Apellido Materno:</label>
                                <input class="form-control" name="apellidoMaterno" value="@if (Model.Id !=0) { @Model.ApellidoMaterno }">
                                <label>Telefono:</label>
                                <input class="form-control" name="telefono" value="@if (Model.Id !=0) { @Model.Telefono }">
                                <label>Direccion:</label>
                                <input class="form-control" name="direccion" value="@if (Model.Id !=0) { @Model.Direccion }">
                                <label>Email:</label>
                                <input class="form-control" name="email" value="@if (Model.Id !=0) { @Model.Email }">
                            </div>
                            <button class="btn btn-success" type="submit">Guardar</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


